@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 215px) {
	.login-icon {
		display: none;
	}
}

input, #send {
	background-color: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
	border: 1px solid var(--vscode-panelInput-border);
	font-feature-settings: "liga" 0, "calt" 0;

    font-weight: normal;
    font-size: 13px;
    font-variation-settings: normal;
    line-height: 20px;
    letter-spacing: 0px;
}

#send {
    scrollbar-width: thin;
	border-right: 0px;
}

#send::-webkit-scrollbar {
    width: 5px;
}

#message #message-button {
	background-color: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
	border: 1px solid var(--vscode-panelInput-border);
}

button svg {
	stroke: var(--vscode-input-placeholderForeground);
}

input::placeholder,
#send-placeholder {
	color: var(--vscode-input-placeholderForeground);
}

.border-b {
	border-color: var(--vscode-inlineChat-border);
}

.border-sidebar {
	border-color: var(--vscode-sideBar-background);
}

#search-user-label, 
#connections-label {
	color: var(--vscode-settings-headerForeground);
}

#search-user-label div, 
#connections-label div {
	background-color: var(--vscode-inlineChat-border);
    opacity: 0.5;
}

.divide-y {
	border-color: var(--vscode-inlineChat-border);
}